<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">
      <span>
        Menu
      </span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">
        <mat-icon>home</mat-icon>
         <span class="">Home</span> 
      </a>
      <a routerLink="/slot-booking" mat-list-item href="#">
        <mat-icon>date_range</mat-icon>
        Slot Booking
      </a>
      <a routerLink="/settings" mat-list-item href="#">
        <mat-icon>settings</mat-icon>
        Settings
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Covid Defender</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- <app-home></app-home> -->
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
