<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">
      <span>
        Menu
      </span>
    </mat-toolbar>
    <mat-nav-list fxLayout="column" fxLayoutAlign="center center">
      <a mat-list-item href="#home">
        <mat-icon>home</mat-icon>
        <span class="">Home</span>
      </a>
      <!-- <a routerLink="/slot-booking" mat-list-item href="#"> -->
      <a class="" mat-list-item href="https://selfregistration.cowin.gov.in/" target="_blank">
        <mat-icon>date_range</mat-icon>
        Slot Booking
      </a>
      <mat-divider></mat-divider>
      <a class="" mat-list-item href="https://github.com/faaizzz/covdef#covdef" target="_blank">
        <mat-icon>description</mat-icon>
        Demo
      </a>
      <a class="" mat-list-item href="https://github.com/faaizzz/covdef" target="_blank">
        <img src="assets/icons/icons8-github-24.png" class="p-5" alt="Github" />
        Develop with us
      </a>
      <a mat-list-item href="#about">
        <mat-icon>info</mat-icon>
        About
      </a>
      <!-- <a class="" mat-list-item href="https://www.linkedin.com/in/faaiz-rissad/" target="_blank">
        <img src="assets/icons/icons8-linkedin-24.png" class="p-5" alt="LinkedIn" />
        Keep in Touch
      </a>
      <a class="" mat-list-item href="https://wa.me/+919746585007" target="_blank">
        <img src="assets/icons/icons8-whatsapp-24.png" class="p-5" alt="Whatsapp"  />
        Whatsapp Us 
      </a>       -->
      <!-- <a routerLink="/settings" mat-list-item href="#">
        <mat-icon>settings</mat-icon>
        Settings
      </a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>Covid Defender</div>
      <div>
        <label class="time" *ngIf="!(isHandset$ | async)">Current Time : </label>
        <label class="time">{{todaysDataTime}}</label>

      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- <app-home></app-home> -->
    <!-- Add Content Here -->
    <!-- Footer -->
  </mat-sidenav-content>
</mat-sidenav-container>